<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add new patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .form-control {
            margin-top: 20px;
        }
    </style>

</head>
<body>
    <div class="container">
        <form th:action="@{/patient/add}" th:object="${patient}" method="post">
            <input type="text" th:field="*{socialsecuritynumber}" maxlength="10" class="form-control" placeholder="social security number"> social security number
            <input type="text" th:field="*{name}" class="form-control" placeholder="patient name"> patient name
            <input type="text" th:field="*{surname}" class="form-control" placeholder="patient surname"> patient surname
            <select th:field="*{gender}" class="form-control">
                <option value="" disabled selected>-- select gender --</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Divers">Diverse</option>
            </select> patient gender
            <input type="date" th:field="*{birth}" class="form-control" placeholder="birth date"> birth date
            <input type="submit" class="form-control" value="Save">
        </form>
    </div>
</body>
</html>
